/* Reset general */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilos globales */
body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  line-height: 1.5;
}

/* Estilos comunes */
h1, h2, h3 {
  color: #0077b6;
}

a {
  color: #0077b6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
